html, body {
  height: 100%;
  width: 100%;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

body, .p-text {
  font-family: 'Roboto', sans-serif;
}

h1, .header {
  font-family: 'Carter One', sans-serif;
}

.btn, .btn:active, .btn:visited {
  background-color: #9113C3 !important;
  color: #fff !important;
}

.btn:hover {
  background-color: #77119F !important;
}

@media (min-width: 1200px) {
  .display-1 {
    font-size: 5rem;
  }
}

@media (min-width: 900px) {
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .text-lg-start {
    text-align: left !important;
  }
}

.dflex {
  display: flex !important;
}

.px-5 {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}

.px-15 {
  padding-right: 5rem !important;
  padding-left: 5rem !important;
}

.picture {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.align-items-center {
  align-items: center;
}

.row {
  display: flex;
  max-width: 100%;
  width: 100%;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  margin-left: calc(var(--bs-gutter-x) * -0.5);
}
